<div class="page-layout carded fullwidth single-scroll" layout="row">

    <div class="top-bg md-accent-bg"></div>

    <div class="center" flex>

        <div class="header h-20">
             
        </div>

        <div class="content-card">

            <md-content class="content" style="padding-top: 8px" >

        
                <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
                <style type="text/css" media="screen, projection">
                    @import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css); 
                </style> 
                <iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://valmirbarbosa.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=Suporte&submitTitle=Enviar+ticket&submitThanks=Ol%C3%A1%2C%0D%0ASua+solicita%C3%A7%C3%A3o+foi+recebida+e+ser%C3%A1+analisada+pela+nossa+equipe.%0D%0A%0D%0AN%C3%B3s+estaremos+entrando+em+contato+para+lhe+manter+informado.%0D%0A%0D%0AAtenciosamente&screenshot=no&searchArea=no" scrolling="no" height="700px" width="100%" frameborder="0" >
                </iframe>
<!--                <p>Com o intuito de melhorar o atendimento aos nossos clientes, estamos disponibilizando um sistema de chamados Help-desk.
                    Sempre que houver qualquer dúvida ou erro sobre os serviços e produtos contratados, favor abrir um novo chamado.
                    Você ainda poderá acompanhar em tempo real a situação de cada solicitação, podendo interagir com nossa equipe.
                    Seu chamado será respondido o mais rápido possível.</p>-->

                <md-button target="_blank" href="http://suporte.valmirbarbosa.com.br/index.php?a=add&catid=12&s-name={{rapiProfile.name}}&s-email={{rapiProfile.email}}">Enviar um novo chamado</md-button>

            </md-content>

        </div>

    </div>

</div>
