
<div ms-scroll class="content scrollable " >
    <md-list ng-cloak="" class="listdemoListControls">
        <div ng-repeat="group in list">
            <md-subheader class="md-no-sticky">{{group.name}}</md-subheader>
            <md-list-item ng-click="rp.setParams(item)" ng-repeat="item in group.itens">
                <p> {{ item.label}} </p>
            </md-list-item>
            <md-divider ng-if='!$last'></md-divider>
        </div>
    </md-list>

</div>
