<md-toolbar class="navigation-header md-whiteframe-1dp ph-16" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="start center">
        <span  ng-if="vm.logo" class="logo-img">
            <img ng-src="{{vm.logo}}" alt="{{vm.title_project}}" />
        </span>
        <span ng-if="!vm.logo" class="logo-image">{{vm.sigla}}</span>
        <span ng-if="!vm.logo" class="logo-text">{{vm.title_project}}</span>
    </div>

    <md-icon class="fold-toggle s18 no-margin" md-font-icon="icon-backburger" aria-label="menu" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>
</md-toolbar>

<ms-navigation class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions"></ms-navigation>

<div flex layout="column" layout-align="end center" >
    <a class="credits-logo no-style" layout="row" layout-align="center center" href="{{vm.credits_link}}" target="_blank">
        <small class="mr-8">Desenvolvido por</small> <img class="h-25" ng-src="{{vm.credits_logo}}" />
    </a>  
    <span class="Secondary-text">{{vm.versao}}</span>  
</div>
