<div class="p-24">
    <h2 class="md-display-1" ng-bind="vm.labels.title"></h2>
    <p  ng-bind="vm.labels.content"></p>
    <div>
        <md-card  ng-click="vm.selectModel(model)" ng-repeat="model in vm.archive" class="w-300 pull-left h-176" ng-class="{'md-accent-bg md-hue-3':  vm.active_session.nome == model.nome}">
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-xs card-media">
                        <md-icon md-font-icon="icon-home" class="s70"></md-icon>
                    </div>
                </md-card-title-media>
                <md-card-title-text>
                    <span class="md-headline font-size-20">{{model.nome}}</span>
                    <span class="md-subhead">{{model.descricao}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions>
                <md-button class="md-block md-accent md-raised" ng-click="vm.selectModel(model)" style="width:100%;">Selecionar</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>