<div class="page-layout simple tabbed cities" layout="column">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-xs="column" layout-align-xs="space-between start" layout-align="space-between center">

    <!-- HEADER CIDADES -->
    <div class="white-fg" layout="column" layout-align="start start">
      <div class="h1" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-city mr-8"></md-icon>
        <span translate="CITIES.CIDADES">Cidades</span>
      </div>
    </div>
    <div layout="row" class="flex-mobile-xs">

    </div>
    <!-- /HEADER CIDADES -->
  </div>

  <!-- CONTENT -->
  <div class="content">

    <md-tabs md-dynamic-height>

      <md-tab >
        <md-tab-label>
          <span translate="CITIES.CIDADES">Cidades</span>
        </md-tab-label>
        <md-tab-body>
          <div class="content fullpage-datatable md-background-bg" ui-view="viewTabCity"></div>
        </md-tab-body>
      </md-tab>

      <md-tab >
        <md-tab-label>
          <span translate="CITIES.STATES">Estados</span>
        </md-tab-label>
        <md-tab-body>
          <div class="content fullpage-datatable md-background-bg" ui-view="viewTabState"></div>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          <span translate="CITIES.COUNTRYS">Países</span>
        </md-tab-label>
        <md-tab-body>
          <div class="content fullpage-datatable md-background-bg" ui-view="viewTabCountry"></div>
        </md-tab-body>
      </md-tab>

    </md-tabs>

  </div>
  <!-- / CONTENT -->

</div>
