#profile {

    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url('#{$imgFuse}/auth/profile/march.jpg') no-repeat 0 45%;
        background-size: 100% auto;

        .profile-image {
            margin-right: 24px;
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;
        }

        .actions {

            .md-button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {

        md-content {
            background-color: transparent;
        }
    }

    // Profile boxes
    .profile-box {
        margin-bottom: 16px;

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

                .latest-activity {
                    max-width: 1200px;

                    .content {

                        .activities {

                            .activity {
                                padding: 16px 0;

                                .avatar {
                                    margin-right: 16px;
                                }

                                .username {
                                    font-weight: 500;
                                }

                                .message {
                                    font-weight: 500;
                                }

                                .time {
                                }
                            }
                        }
                    }
                }
                .about-tab {
                    //max-width: 1200px;

                    .about {
                        padding: 8px;

                        .general {

                            .location {

                                md-icon {
                                    line-height: 13px !important;
                                }
                            }
                        }

                        .work {

                            .job {

                                .company {
                                    padding: 0 16px 0 0;
                                    font-weight: 500;
                                }

                                .date {
                                    color: rgba(0, 0, 0, 0.54);
                                }
                            }
                        }
                    }

                    .about-sidebar {
                        padding: 8px 8px 8px 32px;

                        .friends {

                            .content {

                                .friend {
                                    padding: 4px;
                                }
                            }
                        }

                        .groups {

                            .content {

                                .group {
                                    margin-bottom: 16px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    .logo {
                                        border: 1px solid rgba(0, 0, 0, 0.12);
                                        margin-right: 16px;
                                    }

                                    .name {
                                        font-weight: 500;
                                        font-size: 15px;
                                    }

                                    .category,
                                    .members {
                                        color: rgba(0, 0, 0, 0.54);
                                    }

                                    .members {
                                        margin-top: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
}


// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    #profile {

        .header {

            .profile-image {
                margin: 0 0 16px 0;
            }

            .name {
                margin-bottom: 32px;
            }
        }
        .timeline-tab {

            .timeline-sidebar {
                padding: 8px
            }
        }

        .about-tab {

            .about-sidebar {
                padding: 8px
            }
        }
    }

}
