<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end">
        <div class="user-info" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center">

            <img class="profile-image avatar huge" ng-src="{{vm.profile.thumb_src || 'app/external/fuse/components/auth/profile/profile.jpg'}}">
            <div class="name">{{vm.profile.name}}</div>

        </div>

        <div class="actions" layout="row" layout-align="end center">
            <md-button ng-click="vm.toggleEdit()" class="md-raised md-accent" aria-label="Editar perfil">Editar perfil
            </md-button>

        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" flex>

        <md-tabs md-dynamic-height>
            <md-tab ng-if="vm.showForm">
                <md-tab-label>
                    <span>Editar perfil</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="timeline-tab" layout="row" layout-align="center center">
                                <div flex class="profile-box latest-activity  md-whiteframe-1dp" layout="column">
                                    <header class="md-accent-bg" layout="row" layout-align="space-between center">
                                        <div class="title">Altere as suas informações de perfil</div>
                                    </header>

                                    <div flex class="content" layout="row" layout-wrap>
                                        <form ng-submit="vm.salvar()" flex>
                                            <div layout="column" layout-gt-sm="row" flex>
                                              <md-input-container flex>
                                                <input type="text" name="GaaragemNome" ng-model="vm.row.name" placeholder="Nome" required>
                                                <div ng-messages="garagemForm.GaaragemNome.$error" role="alert">
                                                  <div ng-message="required">
                                                    <span>Informe seu nome</span>
                                                  </div>
                                                </div>
                                              </md-input-container>
                                              <md-input-container flex>
                                                <label>Género</label>
                                                <md-select ng-model="vm.row.genero">
                                                  <md-option ng-value="Feminino">Feminino</md-option>
                                                </md-select>
                                              </md-input-container>
                                          </div>
                                          <div layout="row" layout-align="end end">
                                              <md-button type="button" ng-click="vm.showForm = false" class="md-warn">Cancelar</md-button>
                                              <md-button  type="submit" class="md-accent md-raised">Salvar</md-button>
                                          </div>
                                        </form>
                                    </div>
                                </div>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <span>Sobre</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="about-tab" layout="row" layout-align="center center">
                        <div layout="row" layout-wrap>

                            <div class="about" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65">
                                <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
                                    <header class="md-accent-bg">
                                        <div class="title" >Informações gerais</div>
                                    </header>

                                    <div class="content">
                                        <div class="info-line">
                                            <div class="title">Nome</div>
                                            <div class="info">{{vm.about.name}}</div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">Género</div>
                                            <div class="info">{{vm.about.genero}}</div>
                                        </div>

                                        <div class="info-line">
                                            <div class="title">Data de nascimento</div>
                                            <div class="info">{{vm.about.dt_nasc}}</div>
                                        </div>

                                        <div class="info-line">
                                            <div class="title">Ocupação</div>
                                            <div class="info" >
                                                <span>{{vm.about.ocupacao}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-box info-box  contact md-whiteframe-1dp" layout="column">
                                    <header class="md-accent-bg">
                                        <div class="title">Outras informações</div>
                                    </header>
                                    <div class="content">
                                        <div class="info-line">
                                            <div class="title">Skype</div>
                                            <div class="info">{{vm.about.address}}</div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">Watsapp</div>
                                            <div class="info">{{vm.about.address}}</div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">Facebook</div>
                                            <div class="info">{{vm.about.address}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="about-sidebar" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="35">
                                <div class="profile-box info-box  contact md-whiteframe-1dp" layout="column">
                                    <header class="md-accent-bg">
                                        <div class="title">Contato</div>
                                    </header>
                                    <div class="content">
                                        <div class="info-line">
                                            <div class="title">Endereço</div>
                                            <div class="info">{{vm.about.address}}</div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">Telefones</div>
                                            <div class="info" ng-repeat="tel in vm.about.phones">
                                                <span>{{tel}}</span>
                                            </div>
                                        </div>
                                        <div class="info-line">
                                            <div class="title">E-mails</div>
                                            <div class="info" ng-repeat="email in vm.about.emails">
                                                <span>{{email}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <span>Atividades recentes</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="timeline-tab" layout="row" layout-align="center center">
                                <div flex class="profile-box latest-activity  md-whiteframe-1dp" layout="column">
                                    <header class="md-accent-bg" layout="row" layout-align="space-between center">
                                        <div class="title">Atividades recentes</div>
                                    </header>

                                    <div class="content" layout="row" layout-wrap>
                                        <div class="activities" flex>
                                            <div flex class="activity" layout="column" ng-repeat="activity in vm.activities">

                                                    <div>
                                                        <span class="username md-accent-color">{{activity.assunto}}</span>
                                                        <span class="message"> {{activity.message}}</span>
                                                    </div>
                                                    <span class="time secondary-text">{{activity.time}}</span>
                                                    <md-divider ng-if="!$last"></md-divider>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </md-content>
                </md-tab-body>
            </md-tab>

        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>
