
<div id="vert-nav" class="template-layout" layout="row" flex>

    <md-sidenav id="vertical-navigation" class="md-primary-bg" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="navigation" ms-scroll ui-view="navigation"></md-sidenav>

    <div id="content-container" flex layout="column">

        <md-content id="content" class="animate-slide-up md-background md-hue-1" ms-scroll
                    ui-view="content" flex></md-content>
    </div>


</div>