<md-dialog class="single-dialog dialog-600" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

  <form name="dialogForm" class="md-inline-form" novalidate>

    <!-- DIALOG TOOLBAR -->
    <md-toolbar class="md-accent md-tall" layout="column">

      <!-- TOOLBAR TOP -->
      <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
        <span ng-if="vm.isNew" class="title" translate="CITIES.ADICIONAR_NOVA_CIDADE">Adicionar nova cidade</span>
        <span ng-if="!vm.isNew" class="title" translate="CITIES.EDITAR_CIDADE">Editar</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
          <md-icon md-font-icon="icon-close s24"></md-icon>
        </md-button>
      </div>
      <!-- / TOOLBAR TOP -->

      <!-- TOOLBAR MIDDLE -->
      <div ng-if="!vm.isNew" class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center">
        <div layout="column" layout-align="center center">
          <div class="single-name">{{vm.row.city_name}}</div>
        </div>
      </div>
      <!-- / TOOLBAR MIDDLE -->

    </md-toolbar>
    <!-- / DIALOG TOOLBAR -->

    <!-- DIALOG CONTENT -->
    <md-dialog-content ms-scroll>

      <md-input-container class="md-icon-float md-block">
        <label translate="CITIES.FORM.NOME_CITY">Nome (obrigatório)</label>
        <input ng-model="vm.row.city_name" type="text" ng-required="true" md-autofocus>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label translate="CITIES.FORM.PAIS_ID">PAIS</label>
        <md-select ng-model="vm.row.country_id" md-on-open="vm.loadCountry();" required>
          <md-option ng-repeat="st in vm.countrys" ng-value="st.id">
            {{st.country_name}}
          </md-option>
        </md-select>
      </md-input-container><br />

      <md-input-container class="md-icon-float md-block">
        <label translate="CITIES.FORM.ESTADO_ID">Estado</label>
        <md-select ng-model="vm.row.state_id" md-on-open="vm.loadState(vm.row.country_id);" ng-disabled="!vm.row.country_id">
          <md-option ng-repeat="st in vm.states" ng-value="st.id">
            {{st.state_name}}
          </md-option>
        </md-select>
      </md-input-container>

    </md-dialog-content>
    <!-- / DIALOG CONTENT -->

    <!-- DIALOG ACTIONS -->
    <md-dialog-actions layout="row" layout-align="end center">
      <div layout="row" layout-align="end center">

        <md-button type="button" ng-click="vm.closeDialog()" class="md-warn" aria-label="Cancelar">
          <span translate="COMMON.CANCELAR">
            Cancelar
          </span>
        </md-button>

        <md-button type="submit" ng-if="!vm.isNew" ng-click="vm.update()" class="send-button md-accent md-raised" ng-disabled="dialogForm.$invalid" aria-label="Salvar">
          <span translate="COMMON.SALVAR">
            Salvar
          </span>
        </md-button>

        <md-button type="submit" ng-if="vm.isNew" ng-click="vm.save()" class="send-button md-accent md-raised" ng-disabled="dialogForm.$invalid || dialogForm.$pristine" aria-label="Adicionar">
          <span translate="COMMON.ADICIONAR">
            Adicionar
          </span>
        </md-button>

      </div>
    </md-dialog-actions>
    <!-- / DIALOG ACTIONS -->

  </form>

</md-dialog>
