<div id="layout-vertical-navigation-complete" class="template-layout" layout="row" flex>

    <md-sidenav id="vertical-navigation" class="md-primary-bg" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="navigation" ms-scroll ui-view="navigation"></md-sidenav>

    <div id="content-container" flex layout="column">
        <md-toolbar aria-label="toolbar" id="toolbar" class="md-menu-toolbar md-whiteframe-1dp" ui-view="toolbar"></md-toolbar>

        <md-content id="content" class="animate-slide-up md-background md-hue-1" ms-scroll
                    ui-view="content" flex></md-content>
    </div>

    <md-sidenav aria-label="quick" id="quick-panel" class="md-sidenav-right md-whiteframe-4dp" md-component-id="quick-panel"
                ms-scroll ui-view="quickPanel"></md-sidenav>

</div>