<div class="page-layout carded fullwidth single-scroll" layout="row">

    <div class="top-bg md-accent-bg"></div>

    <div class="center" flex>

        <div class="header h-100">
            <span class="h2 white-fg" translate="LOGS.TITLE">Atividades</span>
        </div>

        <div class="content-card">

            <md-content class="content no-padding" ms-scroll>

                <table class="dataTable row-border hover" ms-responsive-table w3-order-table="vm.params" w3-change="vm.search()">
                    <thead>
                        <tr>
                            <th class="secondary-text" data-order="created_at">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.CRIADO_EM">Criado em</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title" translate="LOGS.TABLE.DESCRICAO">Descrição</span>
                                </div>
                            </th>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title" translate="LOGS.TABLE.USUARIO">Usuário</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header text-right">
                                    <span class="column-title" translate="COMMON.OPCOES">Opções</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-notfound" ng-show="vm.loading === false && vm.archive.length == 0">
                            <td colspan="10">
                                <span  translate="LOGS.SEM_RESULTADOS">Nenhum resultado encontrado</span>
                            </td>
                        </tr>

                        <tr ng-repeat="item in vm.archive|orderBy:'nome'" class="hover-table">
                            <td>{{item.created_at|w3DatePt}}</td>
                            <td>{{item.description}}</td>                            
                            <td>{{item.causer.first_name}}</td>
                            <td class="text-right">
                    <md-button ng-click="vm.showDetail(item, $event)" class="md-icon-button md-accent" aria-label="Editar" translate translate-attr-aria-label="COMMON.EDITAR">
                        <md-icon md-font-icon="icon-eye" class="icon s28"></md-icon>
                    </md-button>
                    </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <div layout="row" layout-align="space-between center">
                                    <div layout="row" layout-align="start center">
                                        <span  translate="COMMON.EXIBINDO">Exibindo</span>
                                        <md-input-container class="m-0" style="top: -2px;    padding: 0 8px;">
                                            <md-select aria-label="Itens por página"  translate translate-attr-aria-label="COMMON.ITENS_POR_PAGINA" ng-change="vm.search()" ng-model="vm.params.paginate">
                                                <md-option ng-repeat="pag in [10, 15, 20, 25, 30, 50, 100]" value="{{pag}}">
                                                    {{pag}} <span  translate="COMMON.ITENS">itens</span>
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <span  translate="COMMON.POR_PAGINA">por página</span>
                                    </div>

                                    <div layout="row" layout-align="end center">
                                        <w3-page-table w3-pagination="vm.pagination" w3-set-page="vm.setPage($page)"></w3-page-table>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <!-- / DEMO CONTENT -->

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>