<div class="rf-avatar avatar width-{{size}} height-{{size}} {{classColor}}"  ng-class="{'disable': disable}">
   <div ng-if="mode==='text'" class="white-text font-size-{{size/2}}  width-{{size}} height-{{size}}  layout-align-center-center"
      layout="row" layout-align="center center" style="">
       <span style="font-size: {{size/2}}px;padding:{{size/4}}px;display: block;line-height: {{size/2}}px;">{{ profile.name.substr(0, 1).toUpperCase()}}</span>
   </div>
   <img ng-if="mode==='img'"
      ng-src="{{profile.thumb}}"
      alt="{{profile.name}}" style="border-radius: 50%;"
      class="width-{{size}} height-{{size}}" width="{{size}}" height="{{size}}"/>
</div>

    
    