<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll  style="background-image: url('{{vm.bg_auth}}')">
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="md-whiteframe-8dp">
            <div ng-if='!vm.logo' class="logo md-accent-bg">
                 <span >{{vm.sigla}}</span>
            </div>
            <div ng-if='vm.logo'>
                <img src='{{vm.logo}}' width="128" height="128" />
            </div>

            <div class="title" translate="FORGOTPASSWORD.TITLE">Recover your password</div>

            <form name="forgotPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email address"
                           translate translate-attr-placeholder="FORGOTPASSWORD.EMAIL_ADRESS"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="forgotPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="RESET MY PASSWORD"
                           ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine"
                           translate="FORGOTPASSWORD.SEND_RESET_LINK"
                           translate-attr-aria-label="FORGOTPASSWORD.SEND_RESET_LINK">
                    SEND RESET LINK
                </md-button>
            </form>

            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="auth.login" translate="FORGOTPASSWORD.GO_BACK">Go back to login</a>
            </div>
        </div>
    </div>
</div>