<md-list class="friends">


    <md-list-item class="friend md-3-line" ng-repeat="item in vm.activities">
        
        <rf-avatar  rf-size="40" rf-profile="item.profile" rf-only-text="false" ></rf-avatar>
        
        <div class="md-list-item-text no-margin">
            <b>{{item.profile.name}}</b>
            <h3 class="message">{{item.description}}</h3>
            <p class="time">{{item.created_at}}</p>
        </div>
    </md-list-item>
</md-list>

