<md-content>
    <md-tabs md-no-pagination md-swipe-content md-stretch-tabs="always">
        <md-tab>
            <md-tab-label>
                <span translate="QUICKPANEL.NOTIFICACOES">TODAY</span>
            </md-tab-label>
            <md-tab-body>
                <md-content class="today-tab scrollable" ms-scroll
                            ng-include="'app/external/fuse/layouts/partials/quickpanel/notificacoes.html'">
                </md-content>
            </md-tab-body>
        </md-tab>
<!--        <md-tab>
            <md-tab-label>
                <span translate="QUICKPANEL.CHAT">CHAT</span>
            </md-tab-label>
            <md-tab-body>
                <md-content class="chat-tab scrollable" ms-scroll
                            ng-include="'app/external/fuse/layouts/partials/quickpanel/chat-tab.html'">
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <span translate="QUICKPANEL.ACTIVITY">ACTIVITY</span>
            </md-tab-label>
            <md-tab-body>
                <md-content class="activity-tab scrollable" ms-scroll
                            ng-include="'app/external/fuse/layouts/partials/quickpanel/activity-tab.html'">
                </md-content>
            </md-tab-body>
        </md-tab>-->
    </md-tabs>
</md-content>