<div class="rf-comment">

    <div class="section-header" layout="row" layout-align="start center">
        <i class="icon-comment s18"></i>
        <span class="section-title" translate="RFCOMMENTS.RFCOMMENTS">Comments</span>
    </div>

    <div class="section-content">

        <div layout="column" layout-gt-xs="row" layout-align="start">

            <div layout="row" flex-gt-xs="70">
                <w3-avatar w3-size="60" w3-profile="$root.rapiProfile"></w3-avatar>
                <md-input-container flex md-no-float>
                    <label translate="RFCOMMENTS.WRITE_A_COMMENT">Write a comment..</label>
                    <textarea ms-scroll
                              ng-model="vm.rowComment.message" ></textarea>
                </md-input-container>
            </div>

            <div class="slct-row" flex-gt-xs="30" flex-gt-sm="20" layout="row" layout-align="end center">
                <md-input-container md-no-float flex>
                    <label translate="RFCOMMENTS.SLECT_TYPE">Tipo</label>
                    <md-select ng-model="vm.rowComment.type">
                        <md-option value="mensagem">Mensagem</md-option>
                        <md-option value="observacao">Observação</md-option>
                        <md-option value="aviso">Aviso</md-option>
                        <md-option value="sugestao">Sugestão</md-option>
                    </md-select>
                </md-input-container>
                <md-button type="submit" class="md-raised md-accent md-fab send"
                           ng-click="vm.addNewComment();"
                           ng-disabled="!vm.rowComment.message || $root.w3Reload['comment.save']"
                           aria-label="Add">
                    <md-icon md-font-icon="icon-send" class="white-text"></md-icon>
                    <md-tooltip>
                        <span translate="RFCOMMENTS.ADD_COMMENT">Adicionar comentário</span>
                    </md-tooltip>
                </md-button>

            </div>

        </div>


        <div class="comment" layout="row" ng-repeat="comment in vm.comments">

            <w3-avatar w3-size="60" w3-profile="comment.profile"></w3-avatar>

            <div layout="column">
                <div class="comment-member-name">
                    {{comment.profile.name}}
                </div>
                <div class="comment-bubble" layout="column">
                    {{comment.message}}
                    <div ng-if="comment.type" layout="row" layout-align="end end">
                        <span class="text-boxed">{{comment.type}}</span>
                    </div>
                </div>
                <div class="comment-time secondary-text">{{comment.created_at|w3Moments}}</div>
            </div>
            
        </div>
    </div>
</div>
