<div class="rf-activities">

    <div class="section-header" layout="row" layout-align="start center">
        <i class="icon-format-list-bulleted s18"></i>
        <span class="section-title" translate="RFACT.ACTIVITY">Activity</span>
    </div>

    <input type="search" placeholder="Filtrar atividades" ng-model="search">
    
    <div class="section-content">
        <div class="activity" layout="row" layout-align="start center"
             ng-repeat="activity in vm.activities|filter:search">
            <w3-avatar w3-size="60" w3-profile="activity.causer"></w3-avatar>            
            <div layout="column">
                <div class="activity-member-name">{{activity.causer.name}}</div>
                <div class="activity-message" ng-bind-html="activity.description"></div>
                <div class="activity-time secondary-text">{{activity.created_at|w3DatePt}} ({{activity.created_at|w3Moments}})</div>
            </div>
        </div>
    </div>
<!--    <div>
        <div ng-repeat="item in [1,2,3,4,5]">
            nome: <b class="green-500-fg">maiara</b>
            <md-divider ng-if="!$last"></md-divider>
        </div>
        <div ng-repeat="item in [1,2,3,4,5]">
            nome: <b class="red-500-fg">mara</b> <md-icon class="s16" md-font-icon="icon-arrow-right"></md-icon> <b class="green-500-fg">maiara</b>
            <md-divider ng-if="!$last"></md-divider>
        </div>
        <div ng-repeat="item in [1,2,3,4,5]">
            nome:<del class="red-500-fg"> <b>maiara</b></del>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </div>-->

</div>
