<md-dialog class="single-dialog dialog-600" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

  <form name="dialogForm" class="md-inline-form" novalidate>

    <!-- DIALOG TOOLBAR -->
    <md-toolbar class="md-accent md-tall" layout="column">

      <!-- TOOLBAR TOP -->
      <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
        <span ng-if="vm.isNew" class="title" translate="CITIES.ADICIONAR_NOVO_ESTADO">Adicionar novo</span>
        <span ng-if="!vm.isNew" class="title" translate="CITIES.EDITAR_ESTADO">Editar</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
          <md-icon md-font-icon="icon-close s24"></md-icon>
        </md-button>
      </div>
      <!-- / TOOLBAR TOP -->

      <!-- TOOLBAR MIDDLE -->
      <div ng-if="!vm.isNew" class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center">
        <div layout="column" layout-align="center center">
          <div class="single-name">{{vm.row.state_name}}</div>
        </div>
      </div>
      <!-- / TOOLBAR MIDDLE -->

    </md-toolbar>
    <!-- / DIALOG TOOLBAR -->

    <!-- DIALOG CONTENT -->
    <md-dialog-content ms-scroll>

      <md-input-container class="md-icon-float md-block">
        <label translate="CITIES.FORM.NOME_STATE">Nome (obrigatório)</label>
        <input ng-model="vm.row.state_name" type="text" ng-required="true">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label translate="CITIES.FORM.UF">Uf (obrigatório)</label>
        <input ng-model="vm.row.state_code" type="text" ng-required="true">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label translate="CITIES.FORM.PAIS_ID">País</label>
        <md-select ng-model="vm.row.country_id" required>
          <md-option ng-repeat="pa in vm.countries" ng-value="pa.id">
            {{pa.country_name}}
          </md-option>
        </md-select>
      </md-input-container>

    </md-dialog-content>
    <!-- / DIALOG CONTENT -->

    <!-- DIALOG ACTIONS -->
    <md-dialog-actions layout="row" layout-align="end center">
      <div layout="row" layout-align="end center">

        <md-button type="button" ng-click="vm.closeDialog()" class="md-warn" aria-label="Cancelar">
          <span translate="COMMON.CANCELAR">
            Cancelar
          </span>
        </md-button>

        <md-button type="submit" ng-if="!vm.isNew" ng-click="vm.update()" class="send-button md-accent md-raised" ng-disabled="dialogForm.$invalid" aria-label="Salvar">
          <span translate="COMMON.SALVAR">
            Salvar
          </span>
        </md-button>

        <md-button type="submit" ng-if="vm.isNew" ng-click="vm.save()" class="send-button md-accent md-raised" ng-disabled="dialogForm.$invalid || dialogForm.$pristine" aria-label="Adicionar">
          <span translate="COMMON.ADICIONAR">
            Adicionar
          </span>
        </md-button>

      </div>
    </md-dialog-actions>
    <!-- / DIALOG ACTIONS -->

  </form>

</md-dialog>
