<div id="profile-page" class="page-layout blank md-background-bg md-hue-2" layout="row" layout-align="center start">

    <div class="md-whiteframe-5dp md-background-bg" flex flex-gt-sm="60">
        <div layout="row" class="pl-32 pv-16">
            <div class="w-232" layout="row" layout-align="start end">
                <rf-avatar  rf-size="200" rf-profile="vm.profile.profile" rf-only-text="false" ></rf-avatar>
                <md-icon class="birthday s40 amber-500-fg" md-font-icon="icon-cake"></md-icon>
            </div>
            <div flex>

                <div layout="row" layout-align="space-between start">
                    <h2 class="md-display-1 mb-8">{{vm.profile.profile.name}}</h2>

                    <md-menu>
                        <md-button class="md-icon-button" aria-label="mais opções"  translate translate-attr-aria-label="COMMON.MAIS_OPCOES">
                            <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
                        </md-button>

                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="vm.showEdit(item, $event)" class=" md-accent" aria-label="Editar" translate translate-attr-aria-label="COMMON.EDITAR">
                                    <md-icon md-font-icon="icon-border-color" class="icon s28"></md-icon>
                                    {{'COMMON.EDITAR'|translate}}
                                </md-button>
                            </md-menu-item>

                            <md-divider></md-divider>
                            <md-menu-item>
                                <md-button ng-click="vm.confirmDelete(item, $index, $event)" class="md-warn" aria-label="Excluir" translate translate-attr-aria-label="COMMON.EXCLUIR">
                                    <md-icon md-font-icon="icon-delete" class="icon s26"></md-icon>
                                    {{'COMMON.EXCLUIR'|translate}}
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                </div>
                <span class="font-size-18">{{vm.profile.email}}</span><br/>
                <span class="font-size-18">Usuário ativo</span><br/>
                <span class="font-size-18">Último login: 12/12/2017</span>
            </div>
        </div>

        <md-divider></md-divider>

        <div  class="pl-32 pv-16">
            <span class="font-size-18 secondary-text">Idioma: Português</span> <br/>
            <span class="font-size-18 secondary-text">Cadastro no sistema: 12/12/2013</span> <br/>
            <span class="font-size-18 secondary-text">Acessos: Webmaster</span>
        </div>

        <md-divider></md-divider>

        <div  class="pl-32 pv-16  secondary-text">
            <span class="font-size-18">Nome completo: Maiara Aparecida Sassi Cristan</span> <br/>
            <div layout="row">
                <span flex class="font-size-18">Data de nascimento: 12/12/2013</span>
                <span flex class="font-size-18">Genero: Masculino</span>
            </div>
        </div> 
        
        <md-divider></md-divider>

         <div  class="pl-32 pv-16  secondary-text">
            <div layout="row">
                <span flex class="font-size-18">Rua: Dom Olívio de Sá</span>
                <span flex class="font-size-18">Número: 789</span>
            </div>
            <div layout="row">
                <span flex class="font-size-18">Bairro: Centro</span>
                <span flex class="font-size-18">Complemento: Ap 09</span>
            </div>
            <div layout="row">
                <span flex class="font-size-18">Cidade: Santa Terezinha de Itaipu</span>
                <span flex class="font-size-18">CEP: 85 875000</span>
            </div>
            <div layout="row">
                <span flex class="font-size-18">Telefone: Santa Terezinha de Itaipu</span>
                <span flex class="font-size-18">CEP: 85 875000</span>
            </div>
        </div>

    </div>

</div>