

<div layout="row" class="flex-mobile-xs">
<md-button style="position:absolute; float:right" ng-click="vm.showCreate()" class="md-fab md-primary" aria-label="Nova Pais" translate translate-attr-aria-label="COMMON.ADICIONAR_NOVO">
<md-icon md-font-icon="icon-plus"></md-icon>
</md-button>
</div>

                <!--#{{vm.params}}#-->
                <md-progress-linear ng-if="vm.loading" md-mode="indeterminate"></md-progress-linear>
                <table class="dataTable row-border hover" ms-responsive-table w3-order-table="vm.params" w3-change="vm.search()">
                    <thead>
                        <tr>
                            <th class="secondary-text" data-order="id">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.ID">ID</span>
                                </div>
                            </th>
                            <th class="secondary-text" data-order="nome">
                                <div class="table-header">
                                    <span class="column-title" translate="CITIES.TABLE.NOME">Nome</span>
                                </div>
                            </th><th class="secondary-text" data-order="estado_id">
                                <div class="table-header">
                                    <span class="column-title" translate="CITIES.TABLE.COUNTRY_SIGLA">Sigla</span>
                                </div>
                            </th>
                            <th class="secondary-text" data-order="created_at">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.CRIADO_EM">Criado em</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.ATUALIZADO_EM">Atualizado em</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header text-right">
                                    <span class="column-title" translate="COMMON.OPCOES">Opções</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-notfound" ng-show="vm.loading === false && vm.archive.length == 0">
                            <td colspan="10">
                                <span  translate="CITIES.SEM_RESULTADOS">Nenhum resultado encontrado</span>
                            </td>
                        </tr>
                        <tr ng-repeat="item in vm.archive|orderBy:'nome'" class="hover-table">
                            <td>{{item.id}}</td>                            
                            <td ng-click="vm.showEdit(item, $event)" class="pointer">{{item.country_name}}</td>
                            <td>{{item.country_code}}</td>
                            <td>{{item.created_at|w3DateMask}}</td>
                            <td>{{item.updated_at|w3DateMask}}</td>
                            <td class="text-right">
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="mais opções"  translate translate-attr-aria-label="COMMON.MAIS_OPCOES">
                            <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
                        </md-button>

                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="vm.showEdit(item, $event)" class=" md-accent" aria-label="Editar" translate translate-attr-aria-label="COMMON.EDITAR">
                                    <md-icon md-font-icon="icon-border-color" class="icon s28"></md-icon>
                                    {{'COMMON.EDITAR'|translate}}
                                </md-button>
                            </md-menu-item>

                            <md-divider></md-divider>
                            <md-menu-item>
                                <md-button ng-click="vm.confirmDelete(item, $index, $event)" class="md-warn" aria-label="Excluir" translate translate-attr-aria-label="COMMON.EXCLUIR">
                                    <md-icon md-font-icon="icon-delete" class="icon s26"></md-icon>
                                    {{'COMMON.EXCLUIR'|translate}}
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                    </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <div layout="row" layout-align="space-between center">
                                    <div layout="row" layout-align="start center">
                                        <span  translate="COMMON.EXIBINDO">Exibindo</span>
                                        <md-input-container class="m-0" style="top: -2px;    padding: 0 8px;">
                                            <md-select aria-label="Itens por página"  translate translate-attr-aria-label="COMMON.ITENS_POR_PAGINA" ng-change="vm.search()" ng-model="vm.params.paginate">
                                                <md-option ng-repeat="pag in [10, 15, 20, 25, 30, 50, 100]" value="{{pag}}">
                                                    {{pag}} <span  translate="COMMON.ITENS">itens</span>
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <span  translate="COMMON.POR_PAGINA">por página</span>
                                    </div>

                                    <div layout="row" layout-align="end center">
                                        <w3-page-table w3-pagination="vm.pagination" w3-set-page="vm.setPage($page)"></w3-page-table>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
