<div class="rf-report-box">
    <md-subheader ng-if="report"  class="md-no-sticky md-white-bg">
        <div layout="row" layout-align="space-between center">
            <div class="list-title" layout="row" layout-align="start center">
                <span class="md-title">{{report.label}}</span>
            </div>
            <div flex></div>
        </div>
    </md-subheader>
    <ng-transclude></ng-transclude>
    <div  ng-if="!report" layout="column" layout-align="center center" class="h-300">
        <h1>Você ainda não selecionou nenhum relatório</h1>
        <md-icon md-font-icon="icon-table-large" class="s80 h-80 amber-500-fg no-margin"></md-icon>
        <p class="secondary-text font-size-20">Selecione ao lado um relatório para continuar.</p>
    </div>
    
</div>    