<div layout="row" layout-align="center center">


    <md-button ng-if="report.buttons.indexOf('print')>= 0" ng-disabled="disable" ng-click="rp.execute('html', 'print')">
        <md-icon class="blue-500-fg" md-font-icon="icon-printer"></md-icon>
        <span>Imrimir</span>
    </md-button>

    <md-button ng-if="report.buttons.indexOf('view')>= 0" ng-disabled="disable"  ng-click="rp.execute('html')">
        <md-icon md-font-icon="icon-eye"></md-icon>
        <span>Visualizar</span>
    </md-button>

    <md-button ng-if="report.buttons.indexOf('pdf')>= 0" ng-disabled="disable"  ng-click="rp.execute('pdf')">
        <md-icon class="red-900-fg" md-font-icon="icon-file-pdf-box"></md-icon>
        <span>Exportar PDF</span>
    </md-button>

    <md-button ng-if="report.buttons.indexOf('excel')>= 0" ng-disabled="disable"  ng-click="rp.execute('xls')">
        <md-icon class="green-700-fg" md-font-icon="icon-table-large"></md-icon>
        <span>Exportar Excel</span>
    </md-button>
</div>  