<md-dialog class="single-dialog dialog-600" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

    <form name="dialogForm" class="md-inline-form" novalidate>

        <md-toolbar class="md-accent" layout="column">

            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Detalhes do log</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close s24"></md-icon>
                </md-button>
            </div><!-- / TOOLBAR TOP -->

        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div layout="row"  layout-align="space-between none" class="p-8 mv-16 md-grey-300-bg">
                <img class="vm.row.causer-image avatar huge" ng-src="{{vm.row.causer.thumb_src}}">
                <div layout="column" layout-align="space-between start">
                    <b class="mt-16">{{vm.row.causer.name}}</b> 
                    <span class="secondary-text">{{vm.row.causer.telefone}}<br>
                        {{vm.row.causer.email}}<br>
                        {{vm.row.causer.city.name_city}}
                    </span>
                </div>
            </div>
            <div layout="row" layout-align="space-between center">
                <b>{{vm.row.log_name}}</b>
                <span>{{vm.row.created_at| w3DatePt}}</span>
            </div>
            <p>{{vm.row.description}}</p>
            <div>
                <div ng-repeat="item in vm.row.properties.detectsChanges">
                    {{item.key}}: 
                    <del ng-if="item.old" class="red-500-fg"> <b>{{item.old}}</b></del>
                    <md-icon ng-if="item.old && item.value"  class="s16" md-font-icon="icon-arrow-right"></md-icon> 
                    <b ng-if="item.value" class="green-500-fg">{{item.value}}</b>
                    <md-divider ng-if="!$last"></md-divider>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <div layout="row" layout-align="end center">

                <md-button type="button" ng-click="vm.closeDialog()"
                           class="md-warn"
                           aria-label="Cancelar">
                    <span> Fechar </span>
                </md-button>

            </div>
        </md-dialog-actions>

    </form>

</md-dialog>
